.alerta_pedido_minimo {
	font-weight: normal;
}
.alerta_pedido_minimo p {
    margin: 0 0 0.2em;
    padding: 0;
}
.alerta_pedido_minimo span.woocommerce-Price-amount.amount {
    font-size: 1.2em;
    font-weight: 600;
}
.alerta_pedido_minimo span.woocommerce-Price-currencySymbol {
    font-size: 0.8em;
    margin-right: 2px;
}